<template>
<h1>Create Event </h1>
  <form @submit.prevent="submitForm">
    <div class="form-control">
      <label for="Title">Title</label>
      <input id="Title" name="Title" type="text" v-model="eventTitle" />
    </div>
    <div class="form-control">
      <label for="description">Description</label>
      <input id="description" name="description" type="text" v-model="description" />
    </div>
    <div class="form-control">
      <label for="Location">Location</label>
      <input id="Location" name="Location" type="text" v-model="Location" />
    </div>
    <div class="form-control">
      <label for="date">Date</label>
      <input id="date" name="date" type="datetime-local" v-model="date" />
    </div>
    <div class="form-control">
      <label>Category</label>
      <category-control v-model="category"></category-control>
    </div>
    <div class="form-control">
      <input id="privateEvent" name="privateEvent" type="checkbox" v-model="privateEvent" />
      <label>Privates Event?</label>
    </div>
    <div>
      <input type="checkbox" id="confirm-terms" name="confirm-terms" v-model="confirm">
      <label>Agree to term of use?</label>
    </div>
    <div>
      <button>Save Data</button>
    </div>
  </form>
</template>

<script>
import CategoryControl from "../../components/CategoryControl";
export default {
  name: "CreateEvent",
  components:{
    CategoryControl
  },
  data(){
    return{
      eventTitle: '',
      description: '',
      Location: '',
      privateEvent: false,
      date: null,
      category: null,
      confirm: false
    }
  },
  methods: {
    submitForm(){
      console.log('Event Title: ' + this.eventTitle);
      console.log('Description: ' + this.description);
      console.log('Location: ' + this.Location);
      console.log('Privat: ' + this.private);
      console.log('Date: ' + this.date);
      console.log('Category: ' + this.category);
      console.log('Zugestimmt:: ' + this.confirm);
      this.eventTitle = '';
      this.description = '';
      this.Location = '';
      this.private = false;
      this.date = null;
      this.category = null;
      this.confirm = false;
    }
  }
}
</script>

<style scoped>
form {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: auto;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  font-weight: normal;
}

button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}
</style>
