<template>
  <h1>Tischtennis im Mauerpark</h1>
  <p>Ort: Mauerpark</p>
  <p>Datum: 05.05.2021</p>
  <p>Uhrzeit: 18:00 - 19:00 Uhr</p>
  <the-map ></the-map>
</template>

<script>
import TheMap from "../../components/TheMap";

export default {
  name: "EventPage",
  components: {
    TheMap
  }
}
</script>

<style scoped>

</style>