<template>
  <h1>Event Page</h1>
  <base-button @click="this.loadEvents()">Load Events</base-button>
  <the-map></the-map>
</template>

<script>
import BaseButton from "../../components/BaseButton";
import TheMap from "../../components/TheMap";

export default {
  name: "EventList",
  components: {
    BaseButton,
    TheMap
  },
  data() {
    return{
      results: [],
      isLoading: false,
      error: null
    };
  },
  method: {

    // Versuch 2 (funktioniert auch nicht)
    loadEvents() {
      return new Promise(((resolve, reject) => {
        fetch('https://who-testing-default-rtdb.europe-west1.firebasedatabase.app/events.json')
          .then((d) => d.json())
          .then((j) => {
            const { events } = j;
            this.events = events;
            this.events.forEach((event) => {
              const  {title, description, link} = event;
              results.push({
                title: this.title

              })
            })
          })
      }))
    }

// Keine Ahnung warum das nicht funktioniert (Versuch 1)
    // loadEvents() {
    //   method: 'GET',
    //       this.isLoading = true;
    //   this.error = null;
    //   fetch('https://who-testing-default-rtdb.europe-west1.firebasedatabase.app/events.json')
    //       .then(function (response) {
    //             if (response.ok) {
    //               return response.json();
    //             }
    //           }
    //       ).then(function (data) {
    //     console.log(data);
    //     // Keine Ahnung wieso das heir nicht funktioniert
    //       this.isLoading = false;
    //       const results = [];
    //       for (const id in data) {
    //         results.push({
    //           id: id,
    //           title: data[id].title,
    //           description: data[id].description,
    //           // Location: data[id].Location,
    //           // privateEvent: data[id].privateEvent,
    //           // date: data[id].date,
    //           // category: data[id].title,
    //           // confirm: data[id].confirm,
    //           // password: data[id].password,
    //         })
    //         console.log(data[id]);
    //       }
    //       this.results = results;
    //   })
    //   .catch((error) => {
    //     console.log(error);
    //     this.isLoading = false;
    //     this.error = 'Failed to fetch data';
    //   });
    // },


  },
  mounted() {
    // this.loadEvents();
  }

}
</script>

<style scoped>

</style>
