<template>
  <!--Header Startseite -->
  <div id="hero">
    <div class="content">
      <div class="headerImage">

        <router-link to="/createevent">
          <div class="addEventButton">
            <div class="center">
              <div class="pulse" id="create"></div>
            </div>
          </div>
        </router-link>

        <router-link to="/map">
          <div class="addEventButton">
            <div class="center">
              <div class="pulse" id="find"></div>
            </div>
          </div>
        </router-link>


        <!--            <img src="/img/berlin_2.jpg">-->
      </div>
    </div>
  </div>

<!--  Overview Events -->
  <div id="overviewEvents">

    <router-link to="event">
      <div class="boxGroup">
        <div class="infoBox">
          <div class="content">
            <h1>Tischtennis im Mauerpark</h1>
            <p>Ort: Mauerpark</p>
            <p>Datum: 05.05.2021</p>
            <p>Uhrzeit: 18:00 - 19:00 Uhr</p>
          </div>
        </div>
      </div>
    </router-link>

  </div>


</template>

<script>
export default {
  name: "Home"
}
</script>

<style scoped>
#hero{
  /*height: 100vh;*/
  /*width: 100%;*/
  /*style: table;*/
  /*position: relative;*/
  /*overflow: hidden;*/

  height: 80vh;
  width: 100%;
  style: table;
  position: relative;
  overflow: hidden;

  /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/

  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
}


#hero > .content{
  height: 100%;
  width: 100%;
  /*style: table;*/
  position: relative;
  overflow: hidden;
  z-index: 5;


}

#hero > .content .headerImage{
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 30%;
  display: table;
}

#hero > .content .headerImage > img {
  display: table;
  margin: 20px auto;
  width: 320px;
  height: auto;

}

#hero > .content .headerImage .addEventButton{
  width: 100%;
  height: auto;
  display: table;
  position: relative;
  padding: 150px 0;
  align-content: center;
  align-items: center;
}

#hero > .content .headerImage .addEventButton .center{
  position: absolute;
  align-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero > .content .headerImage .addEventButton .center .pulse{
  width: 180px;
  height: 180px;
  background: black;
  border-radius: 50%;
  animation: animateButton;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;;
  display: table;
}

#hero .headerImage .pulse#create::before,
#hero .headerImage .pulse#find::before{
  text-align: center;
  line-height: 40px;
  font-family: Verdana;
  text-transform: uppercase;
  color: white;
  font-size: 36px;
  font-weight: 800;
  height: 80px;
  display: block;
  width: 100%;
  margin: 50px 0;
}

#hero .headerImage .pulse#create::before{
  content: "Create Event";
}


#hero .headerImage .pulse#find::before{
  content: "Find Event";

}

#overviewEvents {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*min-height: 100vh;*/
  /*background: #03a9f4;*/

  /*Css von addEventButton übernommen */
  width: 100%;
  height: auto;
  display: table;
  position: relative;
  padding: 50px 0;






}

#overviewEvents > .boxGroup {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#overviewEvents .infoBox{
  position: relative;
  z-index: 4;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #201e1e;
  margin: 15px;
}
#overviewEvents  .infoBox::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(235deg, #f5f7fa, #b8c6db, #b8c6db);
  z-index: 1;
}


#overviewEvents .infoBox::after{
  content: '';
  position: absolute;
  background: #201e1e;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#overviewEvents .infoBox:hover::after{
  box-shadow: -3px 5px 0px 8px rgba(100, 100, 100, 0.35);

}

#overviewEvents .infoBox .content{
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  z-index: 3;
  position: relative;

}

#overviewEvents .circle{
  position: relative;
  width: 60vh;
  height: 60vh;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 50%;
  animation: animateCircle 0.5s linear infinite;
}

@keyframes animateCircle {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

#overviewEvents .circle:after{
  content: '';
  position: absolute;
  top: 35px;
  right: 35px;
  bottom: 35px;
  left: 35px;
  border-radius: 50%;
  background-color: #201e1e;
}

#overviewEvents .circle span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white,gray);
  border-radius: 50%;
}

#overviewEvents .circle span:nth-child(1){
  filter: blur(5px);
}

#overviewEvents .circle span:nth-child(2){
  filter: blur(10px);
}

#overviewEvents .circle span:nth-child(3){
  filter: blur(20px);
}

#overviewEvents .circle span:nth-child(4){
  filter: blur(5px);
}


/*Wann ist so ein Container eigentlich immer nötig? ich glaube viele waren nicht zwingend notwendig*/
#overviewEvents .container{
  width: 100%;
  height: auto;
  justify-content: center;
}




</style>