<template>
  <ul>
    <li :class="{active: modelValue === 'sport'}">
      <button type="button" @click="activate('sport')">Sport</button>
    </li>
    <li :class="{active: modelValue === 'park'}">
      <button type="button" @click="activate('park')">Park</button>
    </li>
    <li :class="{active: modelValue === 'culture'}">
      <button type="button" @click="activate('culture')">Culture</button>
    </li>
  </ul>
</template>

<script>
export default {
  name: "CategoryControl",
  props: ['modelValue'],
  emits: ['update:modelValue'],
  methods: {
    activate(option){
      this.$emit('update:modelValue', option)
    }
  }
}
</script>

<style scoped>
.active {
  border-color: black;
}

.active button{
  border-color: black;
}

ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  display: flex;
}
li {
  margin: 0 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  font: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
</style>