<template>
  <input type="text" v-model="address" />
  <button v-on:click="geoCode">search</button>
</template>

<script>
export default {
  name: "SearchAddress",
  data() {
    address: ""
  },
  methods: {
    geoCode() {
      fetch(
          `https://nominatim.openstreetmap.org/?q=${this.address}&format=json`
      )
          .then((d) => d.json())
          .then((j) => {
            console.log(j[0])
            const {lat, lon} = j[0];
            console.log(lat);
            console.log(lon);
          });
    },
  }

}
</script>

<style scoped>

</style>