<template>
<footer class="footerBox">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><router-link to="#">about us</router-link> </li>
          <li><router-link to="#">our services</router-link> </li>
          <li><router-link to="#">privacy policy</router-link> </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><router-link to="#">FAQ</router-link></li>
          <li><router-link to="#">FAQ</router-link></li>
          <li><router-link to="#">FAQ</router-link></li>
          <li><router-link to="#">FAQ</router-link></li>
          <li><router-link to="#">FAQ</router-link></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><router-link to="#">watch</router-link> </li>
          <li><router-link to="#">bag</router-link></li>
          <li><router-link to="#">drink</router-link></li>
          <li><router-link to="#">dance</router-link></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <ul>
            <li><router-link to="#"><i class="fab fa-facebook-f"></i></router-link> </li>
            <li><router-link to="#"><i class="fab fa-twitter"></i></router-link> </li>
            <li><router-link to="#"><i class="fab fa-instagram"></i></router-link> </li>
            <li><router-link to="#"><i class="fab fa-linkedin-in"></i></router-link> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</template>

<script>
export default {
  name: "TheFooter"
}
</script>

<style scoped>

body{
  line-height: 1.5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}


.footerBox {
  background-color: #24262b;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}





@media (max-width: 767px) {
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col{
    width: 100%;
  }
}

</style>