<template>
  <div>
    {{ mesage }}
  </div>
  <div class="map" id="mapid"></div>
  <search-address></search-address>
  <base-button @click="showMarkerById(10000006)">Show Brauhaus</base-button>
  <base-button @click="showAllMarkers">Alle Events</base-button>
</template>

<script>
import "leaflet/dist/leaflet.css";
import L from "leaflet";
import { Icon } from "leaflet";
import "leaflet/dist/leaflet.css";
import SearchAddress from "./SearchAddress";
import BaseButton from "./BaseButton";

// this part resolve an issue where the markers would not appear
delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});
export default {
  name: "yeet",
  components: {
    SearchAddress,
    BaseButton
  },
  data() {
    return {
      mesage: "Unsere Tolle MAP!",
      center: [52.51092, 13.4597],
    };
  },
  methods: {
    setupLeaflet() {
      const mymap = L.map("mapid").setView(this.center, 13);
      this.mymap = mymap;
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "Open Street Map",
        maxZoom: 18,
        tileSize: 256,
        zoomOffset: 0,
      }).addTo(mymap);
      const circle = L.circle([51.508, -0.11], {
        color: "red",
        fillColor: "#f03",
        fillOpacity: 0.5,
        radius: 500,
      }).addTo(mymap);
      circle.bindPopup("I am a circle.");

      return new Promise(((resolve, reject) => {
        fetch("/mapData.json")
            .then((d) => d.json())
            .then((j) => {
              const { events } = j;
              this.events = events;
              this.events.forEach((event) => {
                const  {title, description, link} = event;
                const coordinates = event.coordinates.reverse();
                event.marker = L.marker(coordinates)
                    // .addTo(mymap)
                    .on("click", (event) => {
                      mymap.flyTo(event.latlng, 17, {
                        duration: 2,
                      });
                    })
                    .bindPopup(`<b>${title}</b><br>${description}<a href="${link}">Zum Event</a>`)
                // .openPopup();
              });
              mymap.setView(this.center, 11);
              resolve();
            });
      }))


    },

    showMarkerById(id) {
          const otherEvents = this.events.filter(e => e.eventId !== id);
          otherEvents.forEach(e => this.mymap.removeLayer(e.marker))
        },
    showAllMarkers() {
      this.events.forEach(e => this.mymap.addLayer(e.marker))
    },

    showMarker(long, lat){
      const coordinates =  [long, lat];
      L.marker(coordinates).addTo(this.mymap);
    }
  },
  mounted() {
    this.setupLeaflet().then(this.showAllMarkers);
  },
};
</script>

<style scoped>

.map {
  height: 500px;
  margin-bottom: 20px;
}

</style>