<template>
  <the-header></the-header>
  <router-view></router-view>
  <the-footer></the-footer>
</template>

<script>
import TheHeader from "./components/TheHeader";
import TheFooter from "./components/TheFooter";

export default {
  name: "App",
  components: {
    TheHeader,
    TheFooter
  },
};

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: auto;
  /*margin-top: 60px;*/
}

body, html{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/*body{*/
/*  background-color: black !important;*/
/*}*/

/*h1{*/
/*  font-weight: 500;*/
/*  color: white;*/
/*}*/

/*h2{*/
/*  font-weight: 100;*/
/*  color: white;*/
/*}*/
</style>